@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FDFDFD;
  padding: 12px 60px;
  max-width: 1475px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  body {
    padding: 16px;
  }
}
